body {
  max-width: 320px;
  margin: 0 auto;
}

.label {
  text-align: center;  
}

input {
  display: flex;
  margin: 20px auto;
  width: 97%;
  padding: 5px;
  border-radius: 15px;
  border: orange solid 2px;
  outline: none;
}

.divider {
  width: 100%;
  border: 2px solid black;
}

.buttonBlock {
  display: flex;
  justify-content: space-around;  
}

button {
  margin: 10px auto;
  border-radius: 50%;  
  outline: none;
  font-size: 20px;
  color: #fff;
  background: orange;
  border: none;
  width: 50px;
  height: 50px;
  position: relative;
}

button:hover {
  color: orange;
  background: #fff;
  border: 2px solid orange;
  transition: all 300ms ease-in-out;
}

.result {
  font-size: 35px;
  display: inline-flex;
  width: 40%;
}

#result {
  color: green;
  font-size: 50px;
  display: inline-flex;
  width: 50%;
}

#warning {
  font-size: 50px;
  color: red;
}

span {
  font-size: 15px;
  position: absolute;
  top: 7px;
}